@{
    ViewData["Title"] = "Purpose";
}

<div class="text-center container" style="height: 500px;">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <h1 class="display-4">Purpose</h1>
            <p>The purpose of this was to test attributes of ASP.NET, this is my first project using the framework.</p>
        </div>
    </div>
</div>
